@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader */

.loader {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 8px solid #fff;
  border-left: 8px solid #fff;
  border-right: 8px solid #ff00;
  animation: loader 0.7s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.modall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modall-content {
  background-color: #fff; /* White background */
  padding: 2rem; /* Padding inside modal */
  border-radius: 8px; /* Rounded corners */
  width: 90%; /* Width of the modal */
  max-width: 500px; /* Maximum width for large screens */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
  position: relative;
}
